In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

from api_key import g_key

In [3]:
vaca = pd.read_csv('/Users/kscomputer/Desktop/python_api_challenge/python-api-challenge/Weather/Output/weather.csv')
vaca

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speeds,Country,Date
0,0,clyde river,70.47,-68.59,15.80,85,75,16.11,CA,1604081632
1,1,manta,-0.95,-80.73,78.80,74,40,12.75,EC,1604081632
2,2,saskylakh,71.92,114.08,-2.06,85,31,6.08,RU,1604081632
3,3,phenix city,32.47,-85.00,64.00,48,1,12.75,US,1604081632
4,4,bang saphan,11.21,99.51,75.29,90,95,1.59,TH,1604081632
...,...,...,...,...,...,...,...,...,...,...
575,575,marrakesh,31.63,-8.01,84.20,20,40,5.82,MA,1604081669
576,576,oranjemund,-28.55,16.43,58.71,68,91,25.70,NaN,1604081669
577,577,benin,9.50,2.25,81.64,41,56,2.73,BJ,1604081669
578,578,carutapera,-1.20,-46.02,86.63,58,97,9.69,BR,1604081669
579,579,seymchan,62.88,152.43,7.41,91,91,1.12,RU,1604081669

In [4]:
lat_lng = vaca[['Lat','Lng']]

humidity = vaca['Humidity'].astype(float)

In [5]:
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(lat_lng, weights = humidity,
                                dissipating=False, max_intensity=100, 
                                 point_radius =4)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
#ran into issue in next cell getting lat and lng with na values why dropna included
ideal = vaca.loc[((vaca['Max Temp']<=80)&(vaca['Max Temp']>=70)&
                  (vaca['Wind Speeds']<=10)&
                  (vaca['Cloudiness'].astype(float)==0))].dropna(how='all')
ideal.head()

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speeds,Country,Date
77,77,charters towers,-20.10,146.27,70.41,86,0,6.91,AU,1604081637
193,193,trelew,-43.25,-65.31,77.94,16,0,6.80,AR,1604081645
225,225,barmer,25.75,71.38,77.68,18,0,5.28,IN,1604081647
232,232,tucuman,-26.82,-65.22,77.00,27,0,4.43,AR,1604081648
245,245,malibu,34.01,-118.81,77.00,24,0,3.91,US,1604081649

In [7]:
hotel = ideal.loc[:,['City','Country','Lat','Lng']]
hotel['Hotel Name']=''
hotel

                City Country    Lat     Lng Hotel Name
77   charters towers      AU -20.10  146.27
193           trelew      AR -43.25  -65.31
225           barmer      IN  25.75   71.38
232          tucuman      AR -26.82  -65.22
245           malibu      US  34.01 -118.81
275              biu      NG  10.61   12.19
321           kwekwe      ZW -18.93   29.81
356       hervey bay      AU -25.30  152.85
430           tiznit      MA  29.58   -9.50
435         dzaoudzi      YT -12.79   45.27
440           lalsot      IN  26.57   76.33
531    bayonet point      US  28.33  -82.68

In [17]:
for index,
#invalid request....... 
lat = hotel['Lat']
lng = hotel['Lng']
#cities = hotel['City']


#target_coordinates= (lat, lng)
#target_search = cities


parameter = {'location': f"{row['Lat']},{row['Lng']}",
            #'keyword': "Hotel",
            'radius':target_radius,
            'type':target_type,
            'key':g_key}

base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'

response = requests.get(base_url, params=parameter).json()
response["results"][0]["name"]

'Kokoa'

In [21]:
# find the closest restaurant of each type to coordinates

base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
target_radius = 5000
target_type = 'hotel'

# use iterrows to iterate through pandas dataframe
for index, row in hotel.iterrows():
    
    params = {'location': f"{row['Lat']},{row['Lng']}",
          'radius':target_radius,
            'type':target_type,
            'key':g_key
}

    # assemble url and make API request
    response = requests.get(base_url, params=params).json()
    
    # extract results
    results = response['results'][0]["name"]
    
    hotel.loc[index, "Hotel Name"]=results

In [22]:
hotel.head()

                City Country    Lat     Lng             Hotel Name
77   charters towers      AU -20.10  146.27        Charters Towers
193           trelew      AR -43.25  -65.31                 Trelew
225           barmer      IN  25.75   71.38                 Barmer
232          tucuman      AR -26.82  -65.22  San Miguel de Tucumán
245           malibu      US  34.01 -118.81                 Malibu

In [26]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel.iterrows()]
location = hotel[["Lat", "Lng"]]

In [31]:
marker_layer = gmaps.marker_layer(location, info_box_content= hotel_info)

fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))